html,
body,
main {
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #111827;
  height: 100%;
}
html {
  padding: 20px;
}
.container {
  margin: 0 auto;
  width: 550px;
}

header,
.hex-footer {
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

header {
  padding: 25px 0;
}

form {
  display: flex;
  justify-content: space-between;
}

input,
select,
button {
  height: 42px;
  margin: 6.5px;
}

.cPicker {
  padding: 0px;
  width: 61px;
  height: 42px;
  background: #e5e5e5;
  border: 0.5px solid #d1d5db;
}

select {
  width: 312px;
  height: 42px;
  padding: 0 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

button {
  width: 123px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #374151;
}

.colors {
  height: 80%;
  display: flex;
}

.color {
  width: 110px;
}

#color-1 {
  background: #f55a5a;
}

#color-2 {
  background: #2b283a;
}

#color-3 {
  background: #fbf3ab;
}

#color-4 {
  background: #aad1b6;
}

#color-5 {
  background: #a626d3;
}

.hex-footer {
  display: flex;
  justify-content: space-between;
}

p {
  font-weight: 500;
  font-size: 12px;
  padding: 11px 28px;
  margin: 0;
  text-align: center;
  color: #2b283a;
}
